{% extends "Admin/admin_index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/myapp/view_house_post/">
    {% csrf_token %}
      <table class="pull-left">
        <tr>
            <td><input type="text" name="search"class="form-control"/></td>
            <td><input type="submit" value="search"class="btn btn-success"/></td>
        </tr>
    </table>
<br>
<br>
  <table class="table table-bordered">
    <tr>
        <th scope="col"><strong>Sno</strong></th>
      <th scope="col"><strong>Home Image</strong></th>
      <th scope="col"><strong>Token Amount</strong></th>
      <th scope="col"><strong>Proof</strong></th>
      <th scope="col"><strong>Phone</strong></th>
      <th scope="col"><strong>Address</strong></th>
      <th scope="col"><strong>Property Type</strong></th>
      <th scope="col"><strong>Location</strong></th>
      <th scope="col"><strong>Period</strong></th>
      <th scope="col"><strong>About</strong></th>

      <th scope="col"><strong>Description</strong></th>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td><img src="{{ i.image }}"height="100"width="100"></td>
      <td>&nbsp;{{ i.rental_amount }}</td>
      <td>&nbsp;<img src="{{ i.proof }}"height="100" width="100"></td>
      <td>&nbsp;{{ i.phoneno }}</td>
      <td>Place:{{ i.place }}<br>
        Post:{{ i.post }}<br>
        Pincode:{{ i.pincode }}<br>
        District:{{ i.district }}</td>
      <td>&nbsp;{{ i.property_type }}</td>
      <td>&nbsp;{{ i.location }}</td>
      <td>&nbsp;{{ i.rental_period }}</td>
      <td>Sqft:{{ i.area_sqft }}<br>
           Rooms:{{ i.rooms }}<br>
           Bathrooms:{{ i.bathrooms }}<br>
           Furnishing:{{ i.furnishing }}<br>
           Parking:{{ i.parking }}<br>
           Kitchen:{{ i.kitchen }}</td>
      <td>&nbsp;{{ i.description }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}